*{
    font-family: Verdana, Georgia, sans-serif;
    background-color: rgb(245, 241, 219);
}

#button-1{
    font-size: 36px;
    background-color: yellow;
    color: rgb(111, 2, 35);
    font-weight: 800;
    margin: 0 auto;
    display: block;
}

h2{
    color: purple;
    text-align: center;
}

p{
    color: blue;
}

ul{
    color: red;
}

ol{
    color: green;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}