*{
    font-family: Verdana, Georgia, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 241, 219);
}

h1{
    color: rgb(217, 143, 45);
    border: 3px solid rgb(217, 143, 45);
    text-align: center;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
}


h3{
    border: 3px solid rgb(217, 143, 45);
    color: rgb(217, 143, 45);
    padding: 5px;
}

ul{
    background: white;
    border: 3px solid black;
    width: 400px;
    list-style-position: inside;
}

.starters{
    border: 3px solid rgb(217, 143, 45);
    width: 500px;
    margin: 20px;
    padding: 30px;
    justify-self: left;
}

.mains{
    border: 3px solid rgb(217, 143, 45);
    width: 500px;
    margin: 20px;
    padding: 30px;
    justify-self: left;
}

.desserts{
    border: 3px solid rgb(217, 143, 45);
    width: 500px;
    margin: 20px;
    padding: 30px;
    justify-self: right;
}

.bakery{
    color: rgb(217, 143, 45);
    border: 3px solid rgb(217, 143, 45);
    width: 500px;
    margin: 20px;
    padding: 5px;
    justify-self: right;
}